<!-- Khrystyna-Nesterenko -->
<section class="about section">
  <div class="container about-container">
    <div class="about-item us-txt">
      <h2 class="title about-title">About Us</h2>
      <p class="about-text first-p">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>

      <p class="about-text second-p">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>

      <a href="#" class="button link-view-catalog">View catalog</a>
    </div>
    <div class="about-item">
      <!-- <picture>
        <source
          media="(max-width: 767px)"
          srcset="./images/mob@1x.jpg 1x, ./images/mob@2x.jpg 2x"
        />
        <source
          media="(min-width: 768px) and (max-width: 1157px)"
          srcset="./images/tab@1x.jpg 1x, ./images/tab@2x.jpg 2x"
        />
        <source
          media="(min-width: 1158px)"
          srcset="./images/desk@1x.jpg 1x, ./images/desk@2x.jpg 2x"
        />
      </picture> -->
      <img
        src="./img/about/desk@1x.png"
        alt="watch"
        width="530"
        height="532"
        class="img-watch-about"
      />
    </div>
  </div>
</section>
