<!-- About Us -->
<section class="section about" id="about-us">
  <div class="container about-container">
    <div class="about-item us-txt">
      <h2 class="title about-title">About Us</h2>
      <p class="about-text first-p">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>

      <p class="about-text second-p">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device - it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>

      <a href="#catalog" class="button link-view-catalog">View catalog</a>
    </div>

    <div class="about-item about-pic">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/about/desk@1x.png 1x, ./img/about/desk@2x.png 2x"
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="./img/about/tab@1x.png 1x, ./img/about/tab@2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/about/mob@1x.png 1x, ./img/about/mob@2x.png 2x"
        />
        <img src="./img/about/desk@1x.png" alt="pay" class="image-portfolio" />
      </picture>
    </div>
  </div>
</section>
