<section class="catalog section" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-picture-wrap">
          <picture>
            <source
              srcset="
                ./img/catalog/desk/img1-desk.png    1x,
                ./img/catalog/desk/img1-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img1-tab.png    1x,
                ./img/catalog/tab/img1-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/mob/img1-mob.png    1x,
                ./img/catalog/mob/img1-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="catalog-list-picture"
              src="./img/catalog/mob/img1-mob.png"
              width="292"
              alt="Garmin"
            />
          </picture>
        </div>
        <div class="catalog-list-content">
          <p class="catalog-list-name">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-list-text">€500</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-picture-wrap">
          <picture>
            <source
              srcset="
                ./img/catalog/desk/img2-desk.png    1x,
                ./img/catalog/desk/img2-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img2-tab.png    1x,
                ./img/catalog/tab/img2-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/mob/img2-mob.png    1x,
                ./img/catalog/mob/img2-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="catalog-list-picture"
              src="./img/catalog/mob/img2-mob.png"
              width="292"
              alt="Garmin"
            />
          </picture>
        </div>
        <div class="catalog-list-content">
          <p class="catalog-list-name">Garmin Marq Athlete</p>
          <p class="catalog-list-text">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-picture-wrap">
          <picture>
            <source
              srcset="
                ./img/catalog/desk/img3-desk.png 1x,
                ./img/catalog/desk/img3-desk.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img3-tab.png    1x,
                ./img/catalog/tab/img3-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/mob/img3-mob.png    1x,
                ./img/catalog/mob/img3-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="catalog-list-picture"
              src="./img/catalog/mob/img3-mob.png"
              width="292"
              alt="Garmin"
            />
          </picture>
        </div>
        <div class="catalog-list-content">
          <p class="catalog-list-name">Garmin Descent MK1</p>
          <p class="catalog-list-text">€680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-picture-wrap">
          <picture>
            <source
              srcset="
                ./img/catalog/desk/img4-desk.png    1x,
                ./img/catalog/desk/img4-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img4-tab.png    1x,
                ./img/catalog/tab/img4-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/mob/img4-mob.png    1x,
                ./img/catalog/mob/img4-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="catalog-list-picture"
              src="./img/catalog/mob/img1-mob.png"
              width="292"
              alt="Garmin"
            />
          </picture>
        </div>
        <div class="catalog-list-content">
          <p class="catalog-list-name">Garmin D2 Delta PX</p>
          <p class="catalog-list-text">€380</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-picture-wrap">
          <picture>
            <source
              srcset="
                ./img/catalog/desk/img5-desk.png    1x,
                ./img/catalog/desk/img5-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img5-tab.png    1x,
                ./img/catalog/tab/img5-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img5-tab.png    1x,
                ./img/catalog/tab/img5-tab@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="catalog-list-picture"
              src="./img/catalog/tab/img5-tab.png"
              width="292"
              alt="Garmin"
            />
          </picture>
        </div>
        <div class="catalog-list-content">
          <p class="catalog-list-name">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-list-text">€400</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-picture-wrap">
          <picture>
            <source
              srcset="
                ./img/catalog/desk/img6-desk.png    1x,
                ./img/catalog/desk/img6-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img6-tab.png    1x,
                ./img/catalog/tab/img6-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/tab/img6-tab.png    1x,
                ./img/catalog/tab/img6-tab@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="catalog-list-picture"
              src="./img/catalog/tab/img6-tab.png"
              width="292"
              alt="Garmin"
            />
          </picture>
        </div>
        <div class="catalog-list-content">
          <p class="catalog-list-name">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <p class="catalog-list-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn button" type="button">Show more</button>
  </div>
</section>
