<section class="section contact" id="contact-us">
  <div class="container container-contact">
    <h2 class="title contact-title">Contact Us</h2>
    <div class="container-contact-img">
      <div class="contacts-container">
        <p class="contact-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-form">
          <div class="line-input">
            <label for="user-name"></label>
            <div class="form-line">
              <input
                name="user-name"
                type="text"
                class="form-input"
                placeholder="Name"
                pattern="^[A-Z][a-z]+\s[a-zA-Z\s\.]+"
                required
                id="user-name"
              />
            </div>
          </div>
          <div class="line-input">
            <label for="user-email"></label>
            <div>
              <input
                name="user-email"
                type="email"
                class="form-input"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
                id="user-email"
              />
            </div>
          </div>
          <div class="line-input">
            <label for="user-tel"></label>
            <div>
              <input
                name="user-tel"
                type="tel"
                class="form-input"
                placeholder="+380"
                pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
                required
                id="user-tel"
              />
            </div>
          </div>
          <div class="line-input-comment">
            <label for="user-comment"></label>
            <textarea
              name="user-comment"
              id="user-comment"
              placeholder="Comment"
              class="form-comment-text"
            ></textarea>
          </div>
          <button type="submit" class="button btn-contact">Send</button>
        </form>
      </div>
      <div class="contact-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./images/contact/dtop.png 1x, ./images/contact/dtop-2.png 2x"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="./images/contact/tab.png 1x, ./images/contact/tab-2.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/contact/mob.png 1x, ./images/contact/mob-2.png 2x"
          />
          <img
            src="./images/contact/mob.png"
            alt="contact"
            width="335"
            height="512"
            class="contact-img-image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
