<!-- Chasov Artem -->
<section class="section sale" id="sale">
    <div class="container">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-wrap">
            <div class="list-pictures-wrap">
                <ul class="sale-list">
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/sale/1-tab.png 1x, ./img/sale/1-tab-2x.png 2x"
                                media="(min-width: 1280px)">
                            <source srcset="./img/sale/1-tab.png 1x, ./img/sale/1-tab-2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="./img/sale/1.png 1x, ./img/sale/1-2x.png 2x" media="(max-width: 767px)">
                            <img class="sale-picture" src="./img/sale/1.png" alt="watch-1" width="80" height="80">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/sale/2-tab.png 1x, ./img/sale/2-tab-2x.png 2x"
                                media="(min-width: 1280px)">
                            <source srcset="./img/sale/2-tab.png 1x, ./img/sale/2-tab-2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="./img/sale/2.png 1x, ./img/sale/2-2x.png 2x" media="(max-width: 767px)">
                            <img class="sale-picture" src="./img/sale/2.png" alt="watch-2" width="80" height="80">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/sale/3-tab.png 1x, ./img/sale/1-tab-2x.png 2x"
                                media="(min-width: 1280px)">
                            <source srcset="./img/sale/3-tab.png 1x, ./img/sale/1-tab-2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="./img/sale/3.png 1x, ./img/sale/1-2x.png 2x" media="(max-width: 767px)">
                            <img class="sale-picture" src="./img/sale/3.png" alt="watch-3" width="80" height="80">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/sale/4-tab.png 1x, ./img/sale/4-tab-2x.png 2x"
                                media="(min-width: 1280px)">
                            <source srcset="./img/sale/4-tab.png 1x, ./img/sale/4-tab-2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="./img/sale/4.png 1x, ./img/sale/4-2x.png 2x" media="(max-width: 767px)">
                            <img class="sale-picture" src="./img/sale/4.png" alt="watch-4" width="80" height="80">
                        </picture>
                    </li>
                </ul>
                <div class="picture-wrap">
                    <picture>
                        <source srcset="./img/sale/5-desc.png 1x, ./img/sale/5-desc-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./img/sale/5-tab.png 1x, ./img/sale/5-tab-2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./img/sale/5.png 1x, ./img/sale/5-2x.png 2x" media="(max-width: 767px)">
                        <img class="sale-picture" src="./img/sale/5.png" alt="watch-5" width="335" height="385">
                    </picture>
                </div>
            </div>
            <div class="sale-content-wrap">
                <div class="text-wrap">
                    <p class="first-text">MARQ® Commander (Gen 2) - Carbon Edition</p>
                    <p class="second-text">Product tag: 706587</p>
                </div>
                <div class="price-wrap">
                    <p class="third-text">€1500</p>
                    <p class="fourth-text">€3000</p>
                </div>
                <p class="fifth-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                    adventurers that takes materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has
                    a precise AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any
                    conditions.</p>
                <ul class="sale-content-list">
                    <li class="sale-content-list-item">
                        <p class="list-item-text">Fused carbon fiber</p>
                    </li>
                    <li class="sale-content-list-item">
                        <p class="list-item-text">Grade-5 Titanuim</p>
                    </li>
                    <li class="sale-content-list-item">
                        <p class="list-item-text">Athlete</p>
                    </li>
                    <li class="sale-content-list-item">
                        <p class="list-item-text">Golfer</p>
                    </li>
                    <li class="sale-content-list-item">
                        <p class="list-item-text">Commander</p>
                    </li>
                    <li class="sale-content-list-item">
                        <p class="list-item-text">Adventurer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>