.footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .footer .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.footer-container-wrap {
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
}

.footer-top {
  margin-bottom: 92px;
}

.footer-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-transform: lowercase;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-social-item {}

.footer-social-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
}

.footer-social-icon {}

.footer-contacts-link {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #fbfbfb;
  width: 152px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 524px;
}

.footer-nav-wrap {
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 24px;
}

.footer-nav {
  max-width: 147px;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #fbfbfb;
}

.footer-contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  max-width: 83px;
}

.footer-bottom {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-license {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

.footer-privacy {
  display: flex;
  gap: 20px;
}

.footer-privacy-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}