/* <------------HEADER BARABASH----------> */
.header {
  padding: 26px 0;
}

.header-nav-logo {
  font-size: 16px;
  letter-spacing: -0.02em;
	text-transform: lowercase;
  padding: 6px 0;
	color: #0c0c0c;
}

.header-nav-list {
	font-size: 14px;
	line-height: 129%;
	text-align: center;
}

.header-nav-logo, .header-nav-list {
	font-weight: 500;
}
.header-container {
	display: flex;
	align-items: center;
  justify-content: space-between;
}
.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
	width: 34px;
	height: 34px;
}
.open-menu-img {
	stroke: #0c0c0c;
	width: 28px;
	height: 14px;
}
.header {
  background-color: #fbfbfb;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
	display: none;
}
.social {
	display: none;
}
@media screen and (min-width: 768px) {
	.header-nav-logo {
		font-size: 20px;
	}
	.header-nav-list {
    display: flex;
    gap: 40px;
  }
  .header-nav-link {
    color: #2e2f42;
    padding-bottom: 4px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link.current {
    color: #0c0c0c;
    position: relative;
  }
  .current::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
		left: 50%;
		transform: translateX(-50%);
    bottom: -4px;
		font-size: 20px;
		background-color: #3350e9;
    display: block;
    border-radius: 100%;
  }
	.open-menu-img {
		width: 34px;
		height: 16px;
	}
	.open-menu-btn {
		width: 40px;
		height: 40px;
	}
}
@media screen and (min-width: 1280px) {
	.header-nav {
		display: flex;
		justify-content: baseline;
		height: 28px;
	}
	.header-nav-item {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		text-align: center;
	}
	.header-nav-item {
		font-weight: 500;
	}
	.header-nav-list {
		display: flex;
	}
	.social {
		display: flex;
	}
	.social-list {
		display: flex;
		gap: 10px;
	}
	.social-item {
		width: 36px;
		height: 36px;
	}
	
	.social-link {
		width: 100%;
		height: 100%;
		border: 1px solid rgba(12, 12, 12, 0.1);
		background-color: #fff;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	
	.social-icon {
		fill: #0c0c0c;
		opacity: 0.8;
	}
	.social-icon:hover {
		fill: #3350e9;
	}
	.open-menu-btn {
    display: none;
  }
  .header-nav-logo {
    margin-right: 0;
  }
	.mob-menu {
		display: none;
	}
}

/* <------------HEADER BARABASH----------> */

/* ----------------  MOBMENU  -------------- */
@media screen and (max-width: 767px) {
		.mob-menu {
			width: 200px;
			height: 100%;
			max-height: 812px;
			position: fixed;
			right: 0;
			top: 0;
			background-image:linear-gradient(
				rgba(12, 12, 12, 0.92),
				rgba(12, 12, 12, 0.92)
			), url(../img/header-modal/mod-mob-x1.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: 999;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			padding: 39px;
			text-align: center;
		}
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px) {
  .mob-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/header-modal/mod-mob-x2.png);
			background-size: cover;
  }
}
.mob-nav {
	margin: auto 0;
}
.mob-close-btn {
  position: absolute;
  top: 26px;
  right: 32px;
  width: 34px;
  height: 34px;
	border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
	align-items: center;
  cursor: pointer;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
}
.mob-link.current {
  color: #fbfbfb;
	position: relative;
}
.mob-link.current::after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	background-color: #3350e9;
	display: block;
	border-radius: 100%;
}
.mob-close-icon {
	stroke: #fbfbfb;
	width: 20px;
	height: 20px;
}
.icon-list-mob {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-link-mob {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
	align-items: center;
	padding: 8px;
	border: 1px solid rgba(251, 251, 251, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-item-mob {
  fill: #fbfbfb;
	opacity: 0.8;
}
.icon-item-mob:hover {
	opacity: 1;
}
@media screen and (min-width: 768px) and (max-width: 1280px){
	.mob-menu {
		width: 330px;
		height: 100%;
		max-height: 1024px;
		position: fixed;
		right: 0;
		top: 0;
		background-image:linear-gradient(
			rgba(12, 12, 12, 0.92),
			rgba(12, 12, 12, 0.92)
		), url(../img/header-modal/mod-tab-x1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 999;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		padding: 39px;
		text-align: center;
	}
	.icon-link-mob {
		width: 36px;
		height: 36px;
	}
	.mob-close-icon {
		width: 24px;
		height: 24px;
	}
	.mob-close-btn {
		width: 40px;
		height: 40px;
	}
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1280px),
  (min-resolution: 192dpi) and (max-width: 1280px) {
  .mob-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/header-modal/mod-tab-x2.png);
			background-size: cover;
  }
}
.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------------  MOBMENU  -------------- */