      /* HERO MOBILE */

      .hero-wrap{
         margin-bottom: 28px;
      }

      .title-hero {
         font-weight: 600;
         font-size: 40px;
         line-height: 0.95;
         letter-spacing: -0.02em;
         color: #0c0c0c;
         max-width: 335px;
         margin-bottom: 20px;
      }

      .title-hero-spn {
         color: #3350e9;
      }

      .text-hero {
         font-weight: 500;
         font-size: 14px;
         line-height: 1.28;
         letter-spacing: -0.02em;
         color: rgba(12, 12, 12, 0.7);
      }

      .hero-box-scroll {
         display: flex;
         align-items: flex-end;
         flex-direction: row;
         gap: 155px;
         margin-bottom: 28px;
         max-width: 335px;
      }

      .hero-link {
         font-weight: 500;
         font-size: 14px; 
         line-height: 1.28;
         letter-spacing: -0.02em;
         text-decoration: underline;
         color: #0c0c0c;
         max-width: 102px;
         transition: color 250ms cubic-bezier(0.4,0,0.2,1);
      }

      .hero-link:hover,
      .hero-link:focus{
         color: #3350e9;
      }

 

      /* HERO-TABLET */

      @media screen and (min-width: 768px){
 
      .hero-description{
         align-items: center;
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         gap: 40px 11px;
      }

      .hero-wrap{
         margin-bottom: 0;
      }
    
      .title-hero{
         font-size: 70px;
         line-height: 0.85;
         max-width: 557px;
      } 

      .text-hero{
         font-size: 16px;
         line-height: 1.25;
         max-width: 480px;
      }

      .hero-box-scroll{
         flex-direction: column;
         gap: 180px;
         max-width: 136px;
         margin-bottom: 0;
      }

      .hero-link{
         font-size: 20px;
         line-height: 1;
      }

     }

     /* HERO-DESCTOP */

     @media screen and (min-width: 1280px) {
   
      .hero-description{
         justify-content: space-between;
      }

      .title-hero{
         font-size: 72px;
         line-height: 0.87;
         max-width: 597px;
      }
   
      .hero-box-scroll{
         gap: 189px;
         max-width: 146px;
      }
 
      }    

     