.reviews-main-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding-bottom: 24px;
}

.reviews-ul {
    display: flex;
    flex-wrap: wrap;
}
.reviews-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 32px 36px;
    max-width: 335px;
    background: #f3f3f3;
}

.reviews-img-container {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb; 
    overflow: hidden;
}

.reviews-li-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    padding: 24px 0px 8px; 
}

.reviews-text {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.4);
}

.reviews-ul .reviews-li:not(:first-child) {
    display: none;
}

@media screen and (min-width: 768px) {
    .reviews-ul .reviews-li:not(:last-child) {
        display: flex;
    }
    .reviews-main-title {
        font-size: 48px;
        line-height: 0.92;
        padding-bottom: 24px;
    }
    .reviews-li-title {
        font-size: 18px;
        line-height: 1.1;
    }
    .reviews-text {
        font-size: 16px;
        line-height: 1.25;
    }
    .reviews-ul {
        gap: 16px;
    }
    .reviews-li {
        max-width: 344px;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-ul .reviews-li:last-child {
        display: flex;
    }
    .reviews-main-title {
        padding-bottom: 40px;
    }
    .reviews-ul {
        gap: 20px;
    }
        .reviews-li {
            max-width: 370px;
        }
}